header, section, footer {
    

}
.menu {
    display:none;
}

/* 響應形設計語法 */
@media screen and (max-width:786px) {
    header h1{
        left:50%
        transform: translateX(-50%)
    }
    .news h2{
        font-size:40px;
    }
}
.menu {
    display:block
}